name: Docker Build and Push

on:
  push:
    branches:
      - main
      
jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:    
    
    - uses: actions/checkout@v2
    
    - name: Build the Docker image
      run: |
        docker build . --file Dockerfile --tag go-template:latest
